        <script src="/js/mdui.min.js"></script>
        <script src="/laydate/laydate.js"></script>
        <script src="/js/core.js"></script>
        <script src="/js/sha256.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>