<%- include('before', {WebTitle: '登录'}); %>

<div id="main" class="mdui-container mdui-valign">
    <div id="login-card" class="mdui-card mdui-center mdui-shadow-12">
        <div id="tab-head" class="mdui-tab mdui-tab-full-width" mdui-tab>
            <a href="#tab-login" class="mdui-ripple">登录</a>
            <a href="#tab-signup" class="mdui-ripple">注册</a>
        </div>

        <div id="tab-login" class="mdui-p-a-2">
            <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">中科大SOFC实验室预约系统</div>
            <div class="mdui-card-primary-subtitle">高温炉预约</div>
            </div>
            <div class="mdui-card-content">
            <div id="login-user" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">学号</label>
                <input class="mdui-textfield-input" type="text" required/>
                <div class="mdui-textfield-error">学号不能为空</div>
            </div>
            <div id="login-pwd" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" required/>
                <div class="mdui-textfield-error">密码不能为空</div>
            </div>
            <label class="mdui-checkbox">
                <input id="login-check" type="checkbox"/>
                <i class="mdui-checkbox-icon"></i>
                记住密码
            </label>
            </div>
            <div class="mdui-card-actions">
                <button onclick="login();" class="mdui-center mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-600">登录</button>
            </div>
        </div>

        <div id="tab-signup" class="mdui-p-a-2">
            <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">中科大SOFC实验室预约系统</div>
            <div class="mdui-card-primary-subtitle">高温炉预约</div>
            </div>
            <div class="mdui-card-content">
            <div id="signup-user" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">学号</label>
                <input class="mdui-textfield-input" type="text" required/>
                <div class="mdui-textfield-error">学号不能为空</div>
            </div>
            <div id="signup-name" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">姓名</label>
                <input class="mdui-textfield-input" type="text" required/>
                <div class="mdui-textfield-error">姓名不能为空</div>
            </div>
            <div id="signup-pwd" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" required/>
                <div class="mdui-textfield-error">密码不能为空</div>
            </div>
            <div id="signup-repwd" class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">重复密码</label>
                <input onblur="checkRePWD();" class="mdui-textfield-input" type="password" />
                <div class="mdui-textfield-error">密码不能为空</div>
            </div>
            </div>
            <div class="mdui-card-actions">
                <button onclick="signup();" class="mdui-center mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-600">注册</button>
            </div>
        </div>

        <div id="login-card-dialog" class="mdui-dialog">
            <div class="mdui-dialog-title"></div>
            <div class="mdui-dialog-content"></div>
            <div class="mdui-dialog-actions">
                <button class="mdui-btn mdui-ripple" mdui-dialog-close>确认</button>
            </div>
        </div>
    </div>
</div>

<%- include('after'); %>  
