#main {
    min-height: 100vh
}

#login-card {
    width: 80vw
    max-width: 480px 
    & .mdui-card-primary{
        text-align: center
    }
}

#top-container {
    height: 30vh
}

#main-card {
    top: -10vh
    padding: 10px
}

#user-info {
    margin-right: 20px
    margin-top: 20px
    & button{
        font-size: 18px 
    }
}

#announcement-dialog{
    & .mdui-dialog-content, .mdui-btn {
        font-size: 16px 
    }
    & .mdui-dialog-title {
        font-size: 24px 
        line-height: 1.5 
    }
}

.mdui-panel-item-summary{
    width: 12.5%    
    text-align: center
}

.head-font{
    font-weight: 600
    font-size: 17px
}

.status-busy{
    color: red
}

.status-idle{
    color: green
}


#button-row, #input-row{
    margin-top: 10px;
}

#button-row{
    text-align: center
    margin-bottom: 10px
}

#top-title{
    text-align: center
    font-size: 4vh
    padding-top: 8vh
}