    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ layout.website }} - {{ layout.title }}</title>
    <link rel="stylesheet" href="vendor.css">      
